---
import { type CollectionEntry, getCollection } from "astro:content";
import Breadcrumb from "@components/Breadcrumb.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import LightboxImages from "@components/LightboxImages.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { SITE } from "@consts";
import { readingTime } from "@lib/utils";

export async function getStaticPaths() {
	const posts = (await getCollection("post"))
		.filter((post) => !post.data.draft)
		.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"post">;

const post = Astro.props;
const { Content } = await post.render();

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const jsonLd = {
	"@context": "https://schema.org",
	"@type": "BlogPosting",
	"headline": post.data.title,
	"description": post.data.description,
	"datePublished": post.data.date.toISOString(),
	"url": canonicalURL,
	"author": {
		"@type": "Person",
		"name": SITE.NAME,
		"url": Astro.site,
	},
};
---

<PageLayout title={post.data.title} description={post.data.description} type="article">
  <script type="application/ld+json" set:html={JSON.stringify(jsonLd)} slot="head" />
  <Container>
    <div class="animate">
      <Breadcrumb section="post" href="/post" trailingSlash />
    </div>
    <div class="space-y-1 mt-10 mb-8">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={post.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(post.body)}
        </div>
      </div>
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {post.data.title}
      </div>
    </div>
    <article class="animate">
      <Content />
    </article>
    <LightboxImages />
  </Container>
</PageLayout>
